nav {
    background-color: #343a40;
    border: none;
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    transition: color 0.3s ease;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: #ff6600;  
    text-decoration: none;
}

.navbar {
    width: 100%;
}

.navbar-nav .nav-link {
    color: #ccc;
    transition: color 0.3s;
}
.btn-outline-success:hover {
    background-color: #ff6600; 
    color: white; 
}

.search-bar {
    display: flex;
    align-items: center; 
}

.form-control {
    margin-left: 20px; 
}

form {
    position: relative;
}

.btn-lupa {
    border: none;
    color: orange;
    font-size: 1.3rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}